<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="text" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <button ion-button (click)="login(user)">Login</button>
  <button ion-button (click)="signUp()" color="light">Sign up</button> -->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <control-messages [control]="loginForm.controls.email"></control-messages>
      <!-- <ion-item *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || loginAttempt)
      || (!loginForm.controls.email.valid && loginForm.controls.email.touched)">
            <p class="form-error">Please enter a valid email.</p>
      </ion-item>
     -->
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <control-messages [control]="loginForm.controls.password"></control-messages>
      <!-- <ion-item *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || loginAttempt) 
      || (!loginForm.controls.password.valid && loginForm.controls.password.touched)">
            <p class="form-error">Please enter a valid password.</p>
      </ion-item> -->
    </ion-list>
    <div padding>
      <button ion-button strong block type="submit">Login</button>
      <button ion-button strong block type="button" (click)="signUp()">Sign Up</button>
    </div>
  </form>
</ion-content>
